@font-face {
    font-family: 'Gotham Pro-Black';
    src: url('../fonts/GothamPro-Black/GothamPro-Black.eot');
    src: url('../fonts/GothamPro-Black/GothamPro-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GothamPro-Black/GothamPro-Black.woff2') format('woff2'),
        url('../fonts/GothamPro-Black/GothamPro-Black.woff') format('woff'),
        url('../fonts/GothamPro-Black/GothamPro-Black.ttf') format('truetype'),
        url('../fonts/GothamPro-Black/GothamPro-Black.svg#GothamPro-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display Regular';
    src: url('../fonts/SF-Pro-Display-Regular/SFProDisplay-Regular.eot');
    src: url('../fonts/SF-Pro-Display-Regular/SFProDisplay-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SF-Pro-Display-Regular/SFProDisplay-Regular.woff2') format('woff2'),
        url('../fonts/SF-Pro-Display-Regular/SFProDisplay-Regular.woff') format('woff'),
        url('../fonts/SF-Pro-Display-Regular/SFProDisplay-Regular.ttf') format('truetype'),
        url('../fonts/SF-Pro-Display-Regular/SFProDisplay-Regular.svg#SFProDisplay-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display Bold';
    src: url('../fonts/SF-Pro-Display-Bold/SFProDisplay-Bold.eot');
    src: url('../fonts/SF-Pro-Display-Bold/SFProDisplay-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SF-Pro-Display-Bold/SFProDisplay-Bold.woff2') format('woff2'),
        url('../fonts/SF-Pro-Display-Bold/SFProDisplay-Bold.woff') format('woff'),
        url('../fonts/SF-Pro-Display-Bold/SFProDisplay-Bold.ttf') format('truetype'),
        url('../fonts/SF-Pro-Display-Bold/SFProDisplay-Bold.svg#SFProDisplay-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

html,body {
	margin: 0;
}
body {
	margin: 0;
	background: #141414;
	color: #fff;
	min-width: 320px;
	font: 18px/30px 'SF Pro Display Regular', arial, helvetica, sans-serif;
	-webkit-text-size-adjust: 100%; 
}
/* General reset */
form, fieldset {
	margin: 0;
	padding: 0;
	border-style: none;
}
img {
	border-style: none;
	vertical-align:top;
}
ul li{vertical-align:top;}
a {
	color: #fff;
	text-decoration: none;
	-webkit-transition: opacity .2s ease-in-out;
    -moz-transition: opacity .2s ease-in-out;
    -ms-transition: opacity .2s ease-in-out;
    -o-transition: opacity .2s ease-in-out;
    transition: opacity .2s ease-in-out;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {display:block;}
figure{margin:0;}

button::-moz-focus-inner {
	padding:0;
	border:0;
}
a:focus,
a:hover {
 outline: none;
 outline: 0;
}
.container{
	max-width: 1280px;
    padding: 0 20px;
    margin: 0 auto;
}
.container:after{
	content:  "";
	display: block;
	clear: both;
}
h2{
	text-align: left;
	font: 60px/70px 'Gotham Pro-Black', arial, helvetica, sans-serif;
	color:  #fff;
	text-transform: uppercase;
	margin: 0 0 72px;
}

/* wrapper */
#wrapper {
	overflow:hidden;
	position: relative;
	width: 100%;
}
.w1 {padding-bottom: 40px;}
/* header */

.btn{
	font: 24px/26px 'SF Pro Display Bold', arial, helvetica, sans-serif;
	display: inline-block;
	padding: 22px 45px;
	border: 4px solid #fff;
	text-transform: uppercase;
}
.btn:hover{
	opacity: 0.6;
}

/* main */
#main {
	overflow:hidden;
	width:100%;
}

.block-intro{
	position: relative;
	height: 100vh;
	width: 100%;
	background-size: cover;
    background-position: center 0;
}
.block-intro .wrap-intro{
    display: table;
    width: 100%;
    height: 100%;
}
.wrap-intro .holder-intro{
	position: relative;
	display: table-cell;
	vertical-align: middle;
	color: #fff;
	z-index: 1;
}
.holder-intro .logo{
	position: relative;
	display: block;
	max-width: 1064px;
	width: 100%;
	height: 656px;
	padding: 0 20px;
	margin: -20px auto 0;
	z-index: 1;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	-webkit-transition: opacity .2s ease-in-out;
    -moz-transition: opacity .2s ease-in-out;
    -ms-transition: opacity .2s ease-in-out;
    -o-transition: opacity .2s ease-in-out;
    transition: opacity .2s ease-in-out;
}
.holder-intro .logo img{
	display: block;
	width: 100%;
	height: auto;
}
.holder-intro .logo:hover{
	opacity: 0.6;
}
.block-about{
	overflow: hidden;
	position: relative;
	padding: 145px 0 203px;
	margin: 0 0 45px;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.block-about:after{
	content:  "";
	position: absolute;
	background-image: url("../images/about-after.png");
	width: 100%;
	height: 400px;
	left: 0;
	bottom: 0;
	z-index: 1;
}
.block-about .container{
	max-width: 1280px;
}
.block-about .container,
.block-room .container{
	height: 100%;
}
.block-about .about-col,
.block-about .about-img{
	position: relative;
	float: left;
    z-index: 2;
}
.block-about .about-col{
	width: 50%;
}
.block-about .about-col,
.block-room .room-col{
	position: relative;
	display: table;
	height: 100%;
	z-index: 3;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.block-room .room-col{
	width: 46%;
}
.about-col .about-box,
.room-col .room-box{
	display: table-cell;
	vertical-align: top;
}
.about-box p strong,
.room-box p strong{
	font: 24px/42px 'SF Pro Display Bold', arial, helvetica, sans-serif;
	text-transform: uppercase;
}
p{
	margin: 0 0 43px;
}
.block-about .btn{
	margin: 12px 0 0;
}
.block-about .about-img{
	position: absolute;
    width: 495px;
    height: 820px;
    right: 20%;
    bottom: 0;
}
.block-about .about-img img{
	display: block;
	width: 100%;
	height: auto;
}
.block-team{
	padding: 100px 0 184px;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.block-team .holder-team{
	position: relative;
	padding: 12px 0 0;
	margin: 0 auto;
}
.block-team .holder-team:before{
	content: "";
	position: absolute;
	background: #000;
	height: 500px;
	left: -40px;
	right: -40px;
	top: 50px;
}
.block-team .holder-team:after{
	content:  "";
	display: block;
	clear: both;
}
.holder-team .box-team{
	position: relative;
	float: left;
	width: 25%;
	max-width: 320px;
	display: block;
	color: #fff;
	text-decoration: none;
	z-index: 1;
}
.holder-team .box-team:hover .hold-img{
	box-shadow: 0 0 120px rgba(68, 84, 240, 0.5);
}
.holder-team .box-team .hold-img{
	height: 580px;
	margin: 0 0 36px;
	-webkit-transition: box-shadow .2s ease-in-out;
    -moz-transition: box-shadow .2s ease-in-out;
    -ms-transition: box-shadow .2s ease-in-out;
    -o-transition: box-shadow .2s ease-in-out;
    transition: box-shadow .2s ease-in-out;
}
.holder-team .box-team .hold-img img{
	position: relative;
	max-height: 100%;
	max-width: 100%;
	top: 50%;
	left: 50%;
	transform:  translate(-50%, -50%);
}
.holder-team .box-team .title-team{
	font: 24px/26px 'SF Pro Display Bold', arial, helvetica, sans-serif;
	text-transform: uppercase;
}
.holder-team .box-team .title-team,
.holder-team .box-team .sub-title-team{
	display: block;
	padding: 0 0 0 20px;
	margin: 0 0 10px;
}
.block-design{
	overflow: hidden;
	position: relative;
	padding: 50px 0 0;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.box-arrow{
	position: absolute;
	height: 20px;
	width: 32px;
	left: 50%;
	bottom: 60px;
	margin: 0 0 0 -16px;
	z-index: 3;
}
.arrow-down{
	display: block;
	opacity: 0.6;
	-webkit-transition: opacity .2s ease-in-out;
    -moz-transition: opacity .2s ease-in-out;
    -ms-transition: opacity .2s ease-in-out;
    -o-transition: opacity .2s ease-in-out;
    transition: opacity .2s ease-in-out;
}
.arrow-down img{
	display: block;
	width: 100%;
	height: auto;
}
.arrow-down:hover{
	opacity: 1;
}
.block-design h2{
	margin: 0 0 87px;
}
.block-design .hold-design{
	position: relative;
	float: left;
	width: 50%;
	cursor: pointer;
}
.block-design .hold-design:before,
.block-design .hold-design:after{
	content:  "";
	position: absolute;
	background: transparent;
	-webkit-transition: opacity .2s ease-in-out, background .2s ease-in-out, box-shadow .2s ease-in-out;
    -moz-transition: opacity .2s ease-in-out, background .2s ease-in-out, box-shadow .2s ease-in-out;
    -ms-transition: opacity .2s ease-in-out, background .2s ease-in-out, box-shadow .2s ease-in-out;
    -o-transition: opacity .2s ease-in-out, background .2s ease-in-out, box-shadow .2s ease-in-out;
    transition: opacity .2s ease-in-out, background .2s ease-in-out, box-shadow .2s ease-in-out;
}
.block-design .hold-design:before{
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
.block-design .hold-design:after{
	top: -20px;
	right: -20px;
	bottom: -20px;
	left: -20px;
	z-index: 1;
	opacity: 0;
	border:  20px solid #fff;
	box-shadow: 0 0 120px rgba(68, 84, 240, 0.5);
}
.block-design .hold-design:hover:before{
	background: rgba(20, 20, 20, 0.84);
	
}
.block-design .hold-design:hover .box-design,
.block-design .hold-design:hover:after{
	opacity: 1;
}
.block-design .hold-design img{
	display: block;
	width: 100%;
	height: auto;
}
.hold-design .box-design{
	position: absolute;
	max-width: 200px;
	text-align: center;
	top: 46%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 3;
	opacity: 0;
	-webkit-transition: opacity .2s ease-in-out;
    -moz-transition: opacity .2s ease-in-out;
    -ms-transition: opacity .2s ease-in-out;
    -o-transition: opacity .2s ease-in-out;
    transition: opacity .2s ease-in-out;
}
.hold-design .box-design .title-design{
	display: block;
	font: 24px/42px 'SF Pro Display Bold', arial, helvetica, sans-serif;
	text-transform: uppercase;
	margin: 0 0 28px;
}
.hold-design .box-design .btn{
	font: 18px/20px 'SF Pro Display Bold', arial, helvetica, sans-serif;
	padding: 16px 42px;
}
.block-room{
	position: relative;
	width: 100%;
	background-size: cover;
    background-position: center 0;
}
.block-room .box-arrow{
	bottom: 60px;
	left: 25%;
}
.block-room{
	padding: 147px 0 0;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.block-room:before{
	content:  "";
	position: absolute;
	background: rgb(0, 0, 0, 0.82);
	width: 50%;
	top: 0;
	left: 0;
	bottom: 0;
}
.block-room h2{
	margin: 0 0 82px;
}
.block-slider{
	overflow: hidden;
	position: relative;
	width: 100%;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.block-slider .slider-item {
	position: relative;
}
.slider-item .hold-img{
	max-width: 475px;
	height: 462px;
	margin: 0 auto 5px;
}
.slider-item .hold-img img{
	display: block;
	max-width: 100%;
    max-height: 100%;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    margin: 0 auto;
}

/* Slider */
.block-slider .slick-arrow{
	position: absolute;
	top: 50%;
	background: none;
	border: none;
	outline: none;
	outline: 0;
	opacity: .4;
	z-index: 2;
	cursor: pointer;
	-webkit-transition: opacity .2s ease-in-out;
    -moz-transition: opacity .2s ease-in-out;
    -ms-transition: opacity .2s ease-in-out;
    -o-transition: opacity .2s ease-in-out;
    transition: opacity .2s ease-in-out;
}
.block-slider .slick-arrow:hover{
	opacity: 1;
}
.block-slider .slick-prev,
.block-slider .slick-next{
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	width: 80px;
	height: 128px;
	padding: 0;
	margin: -65px 0 0;
}
.block-slider .slick-prev{
	background: url(../images/arrow.png);
	left: 85px;
}
.block-slider .slick-next{
	background: url(../images/arrow.png);
	transform: rotate(180deg);
	right: 80px;
}
.block-slider .slick-slider{
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.block-slider .slick-slider:before,
.block-slider .slick-slider:after{
	content: "";
	position: absolute;
	background-image: url("../images/slider-hover.png");
	height: 100%;
	width: 439px;
	top:  0;
	left: 0;
	opacity: 0;
	z-index: 1;
	-webkit-transition: opacity .2s ease-in-out;
    -moz-transition: opacity .2s ease-in-out;
    -ms-transition: opacity .2s ease-in-out;
    -o-transition: opacity .2s ease-in-out;
    transition: opacity .2s ease-in-out;
}
.block-slider .slick-slider.active-prev:before{
	opacity: 1;
}
.block-slider .slick-slider.active-next:after{
	opacity: 1;
}
.block-slider .slick-slider:after{
	transform: rotate(180deg);
	left: auto;
	right: 0;
}
.block-slider .slick-list{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.block-slider .slick-list:focus{
    outline: none;
}
.block-slider .slick-list.dragging{
    cursor: pointer;
}
.block-slider .slick-slider .slick-track,
.block-slider .slick-slider .slick-list{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}
.block-slider .slick-track{
    position: relative;
    top: 0;
    left: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.block-slider .slick-track:before,
.block-slider .slick-track:after{
    display: table;
    content: '';
}
.block-slider .slick-track:after{
    clear: both;
}
.block-slider .slick-loading .slick-track{
    visibility: hidden;
}
.block-slider .slick-slide{
	overflow: hidden;
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
.block-slider .slick-slide img{
	display: block;
	width: 100%;
	height: auto;
}
[dir='rtl'] .slick-slide{
    float: right;
}
.block-slider .slick-slide.slick-loading img{
    display: none;
}
.block-slider .slick-slide.dragging img{
    pointer-events: none;
}
.block-slider .slick-initialized .slick-slide{
    display: block;
    outline: none;
}
.block-slider .slick-loading .slick-slide{
    visibility: hidden;
}
.block-slider .slick-vertical .slick-slide{
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.block-slider .slick-arrow.slick-hidden{
    display: none;
}
/* Slider */

/* footer */
#footer {
	overflow: hidden;
	position:relative;
	width:100%;
	padding: 145px 0 170px;
	font: 24px/42px 'SF Pro Display Bold', arial, helvetica, sans-serif;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#footer h2{
	margin: 0 0 74px;
}
#footer .footer-col{
	float: left;
	width: 47%;
}
#footer .map-col{
	position: absolute;
    max-width: 962px;
    max-height: 720px;
    height: 100%;
    width: 100%;
    right: 0;
    bottom: 60px;
}
#footer .map-col:before{
	content: "";
	position: absolute;
	background: #000;
	height: 100%;
	top: 40px;
	right: 0;
	left: -40px;
	z-index: -1;
}
#footer .footer-col address{
	font-style: normal;
	text-transform: uppercase;
	margin: 0 0 40px;
}
.footer-col .tel{
	display: block;
	text-transform: uppercase;
}
.footer-col .tel a{
	margin: 0 0 0 5px;
}
.footer-col .hold-email{
	font: 18px/30px 'SF Pro Display Regular', arial, helvetica, sans-serif;
	margin: 45px 0 67px;
}
#footer .footer-col .btn{
	padding: 22px 40px;
}
.footer-col .list-links{
	list-style: none;
	padding: 142px 0 0;
	margin: 0;
	font-size: 0;
	line-height: 0;
}
.footer-col .list-links li{
	display: inline-block;
	vertical-align: top;
	margin: 0 28px 20px 0;
}
.footer-col .list-links li a{
	display: block;
	width: 32px;
	height: 32px;
	opacity: 0.6;
	-webkit-transition: opacity .2s ease-in-out;
    -moz-transition: opacity .2s ease-in-out;
    -ms-transition: opacity .2s ease-in-out;
    -o-transition: opacity .2s ease-in-out;
    transition: opacity .2s ease-in-out;
}
.footer-col .list-links li a:hover{
	opacity: 1;
}
.footer-col .list-links li a img{
	display: block;
	width: 100%;
	height: auto;
}
div.login-control{
	display: none!important;
}
.box-nav{
	position: fixed;
	list-style: none;
	padding: 0;
	top: 142px;
    left: 0;
	z-index: 2;
}
.box-nav input{
	display: none;
}
.box-nav label{
	cursor: pointer;
}
.box-nav .box-menu{
	width: 240px;
	background: #141414;
	padding: 24px 0 26px 60px;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	-webkit-transition: background .2s ease-in-out;
    -moz-transition: background .2s ease-in-out;
    -ms-transition: background .2s ease-in-out;
    -o-transition: background .2s ease-in-out;
    transition: background .2s ease-in-out;
}
.box-nav .label-menu{
	font: 24px/24px 'SF Pro Display Bold', arial, helvetica, sans-serif;
	text-transform: uppercase;
	-webkit-transition: opacity .2s ease-in-out, visibility .2s ease-in-out;
    -moz-transition: opacity .2s ease-in-out, visibility .2s ease-in-out;
    -ms-transition: opacity .2s ease-in-out, visibility .2s ease-in-out;
    -o-transition: opacity .2s ease-in-out, visibility .2s ease-in-out;
    transition: opacity .2s ease-in-out, visibility .2s ease-in-out;
}
.box-nav .label-close{
	position: relative;
	float: right;
	width: 32px;
	height: 32px;
	margin: -4px 5px 0 0;
}
.box-nav .label-close:before,
.box-nav .label-close:after{
	content: "";
	position: absolute;
	background: #fff;
	top: 14px;
	left: 0;
	width: 40px;
	height: 5px;
	transform: rotate(45deg);
}
.box-nav .label-close:after{
	transform: rotate(-45deg);
}
.box-list{
	overflow: hidden;
	position: absolute;
	background: #141414;
	width: 225px;
	opacity: 0;
	visibility: hidden;
	border: 15px solid #000;
	margin: 0 0 0 -15px;
	-webkit-transition: opacity .2s ease-in-out, visibility .2s ease-in-out;
    -moz-transition: opacity .2s ease-in-out, visibility .2s ease-in-out;
    -ms-transition: opacity .2s ease-in-out, visibility .2s ease-in-out;
    -o-transition: opacity .2s ease-in-out, visibility .2s ease-in-out;
    transition: opacity .2s ease-in-out, visibility .2s ease-in-out;
}
.box-list .list-nav{
	list-style: none;
	padding: 0;
	margin: 0 0 38px;
}
.box-nav #fixed-nav:checked ~ .box-list{
	opacity: 1;
	visibility: visible;
}
.box-nav #fixed-nav:checked ~ .box-menu{
	background: transparent;
}
.box-nav #fixed-nav:not(:checked) ~ .box-menu .label-close,
.box-nav #fixed-nav:checked ~ .box-menu .label-menu{
	opacity: 0;
	visibility: hidden;
}
.list-nav .nav-item{
	position: relative;
	padding: 0 0 0 40px;
	margin: 30px 0 20px;
	box-sizing: border-box;
	-webkit-transition: padding .2s ease-in-out;
    -moz-transition: padding .2s ease-in-out;
    -ms-transition: padding .2s ease-in-out;
    -o-transition: padding .2s ease-in-out;
    transition: padding .2s ease-in-out;
}
.list-nav .nav-item:first-child{
	display: none;
}
.list-nav .nav-item:before{
	content: "";
	position: absolute;
	background: #3c3c3c;
	height: 2px;
	width: 20px;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	-webkit-transition: background .2s ease-in-out, width .2s ease-in-out;
    -moz-transition: background .2s ease-in-out, width .2s ease-in-out;
    -ms-transition: background .2s ease-in-out, width .2s ease-in-out;
    -o-transition: background .2s ease-in-out, width .2s ease-in-out;
    transition: background .2s ease-in-out, width .2s ease-in-out;
}
.list-nav .nav-item .nav-link{
	position: relative;
	display: inline-block;
	vertical-align: top;
	color: #3c3c3c;
	-webkit-transition: color .2s ease-in-out;
    -moz-transition: color .2s ease-in-out;
    -ms-transition: color .2s ease-in-out;
    -o-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out;
}
.list-nav .nav-item .nav-link:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: #4454f0;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: transform .2s ease-in-out;
    -moz-transition: transform .2s ease-in-out;
    -ms-transition: transform .2s ease-in-out;
    -o-transition: transform .2s ease-in-out;
    transition: transform .2s ease-in-out;
}
.list-nav .nav-item .nav-link:hover{
	color:  #4454f0;
}
.list-nav .nav-item .nav-link:hover:before{
	-webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}
.list-nav .nav-item.active .nav-link{
	font: 18px/30px 'SF Pro Display Bold', arial, helvetica, sans-serif;
	color: #fff;
	cursor: default;
}
.list-nav .nav-item.active{
	padding: 0 0 0 60px;
}
.list-nav .nav-item.active .nav-link:hover:before{
	display: none;
}
.list-nav .nav-item.active:before{
	background: #fff;
	width: 40px;
}
.list-lang{
	list-style: none;
	padding: 0;
	margin: 0 0 22px 40px;
	font-size: 0;
	line-height: 0;
}
.list-lang li{
	display: inline-block;
	vertical-align: top;
	font: 16px/18px 'SF Pro Display Regular', arial, helvetica, sans-serif;
	margin: 0 12px 10px 0;
}
.list-lang li a{
	position: relative;
	color: #3c3c3c;
	-webkit-transition: opacity .2s ease-in-out, font-weight .2s ease-in-out, color .2s ease-in-out;
    -moz-transition: opacity .2s ease-in-out, font-weight .2s ease-in-out, color .2s ease-in-out;
    -ms-transition: opacity .2s ease-in-out, font-weight .2s ease-in-out, color .2s ease-in-out;
    -o-transition: opacity .2s ease-in-out, font-weight .2s ease-in-out, color .2s ease-in-out;
    transition: opacity .2s ease-in-out, font-weight .2s ease-in-out, color .2s ease-in-out;
}
.list-lang li a:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: #fff;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: transform .2s ease-in-out;
    -moz-transition: transform .2s ease-in-out;
    -ms-transition: transform .2s ease-in-out;
    -o-transition: transform .2s ease-in-out;
    transition: transform .2s ease-in-out;
}
.list-lang li a:hover{
	font-weight: bold;
	color: #fff;
}
.list-lang li a:hover:before{
	-webkit-transform: scale(1);
    -ms-transform: scale(1);
	transform: scale(1);
}
.list-lang li.active a{
	color: #3c3c3c;
	font-weight: bold;
	cursor: default;
}
.list-lang li.active a:before{
	display: none;
}

@media (max-width: 1650px) {
	.block-about .about-img{
		right: 2%;
	}
	#footer .map-col {
	    max-width: 880px;
	}
}
@media (max-width: 1366px) {
	/*.section,.block-room.active, .block-slider.active{
		min-height: 800px;
	}*/
	#footer .map-col {
	    max-width: 750px;
	}
}